.scroll {
  overflow-y: auto;
  max-height: 20rem;
}
.total {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.total-label,
.total-amount {
  font-size: 1.5rem;
  font-weight: 700;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
