.welcome-wrapper {
  position: relative;
  width: 70rem;
  padding: 10rem 5rem;
  max-width: 90%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  z-index: 9999;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
