.input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.input__label {
  font-weight: bold;
  margin-right: 1rem;
}

.input__field {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}

.input__field--error {
  background-color: rgba(250, 128, 114, 0.528);
  border: 2px solid salmon;
}

.error-text {
  color: salmon;
}
