.notification {
  width: 100%;
  padding: 0.5rem 1.5rem;
  position: relative;
  border-radius: 10px;
  background-color: aquamarine;
}

.notification__message {
  font-size: 1.2rem;
}

.notification__close {
  top: 0;
  right: 0;
  border: none;
  padding: 0.5rem;
  position: absolute;
  font-size: 1.2rem;
  background: transparent;
}
